@model DnD___Campaign_Dashboard_v._1.Models.MagicItemModelsApi.MagicItemModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.name)</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.equipment_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipment_category.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
