@model IEnumerable<DnD___Campaign_Dashboard_v._1.Models.Campaign>
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<h2>Campaigns</h2>


<p>
    @Html.ActionLink("Create New", "New", null, new { @class = "btn btn-primary" })
</p>
<table id="characters" class="table table-bordered table-hover" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>Options</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated.Date)
                </td>
                <td>
                    @Html.ActionLink("View", "Tabs", new { id = item.Id }) |
                    @if (item.DMUserId == User.Identity.GetUserId())
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    }
                    |@if (item.DMUserId == User.Identity.GetUserId())
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#characters').DataTable();
        });
    </script>

    <script src='https://code.jquery.com/jquery-3.5.1.js'></script>
    <script src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js'></script>

}




