@model DnD___Campaign_Dashboard_v._1.Models.CampaignViewModel
@using Microsoft.AspNet.Identity;

<div>
    <h4>@Html.DisplayFor(model => model.Campaign.Name)</h4>
    <hr />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Campaign.Id }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    </p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campaign.Story)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.Story)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campaign.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campaign.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign.DateCreated)
        </dd>

    </dl>
</div>

@Html.Partial("Chat")

@if (Model.Characters.Count != 0)
{
    @Html.Partial("_CharacterListPartial", Model.Characters)
}
else
{
    <div>
        <h4>No players assigned yet!</h4>
    </div>
}
@Html.ActionLink("Add Encounter","NewEncounter",null, "Encounter", new { @class = "btn btn-primary"})

<h2></h2>

@if (Model.Encounters.Count != 0)
{
    @Html.Partial("_EncounterListPartial", Model.Encounters)
}
else
{
    <div>
        <h4>No encounters assigned yet!</h4>
    </div>
}

@Html.Partial("_Invitation", Model.Invitation)










