<!--@model IEnumerable<DnD___Campaign_Dashboard_v._1.Models.Weapon>
@{ ViewBag.Title = "Weapons";}-->
@*For the moment this page just uses a simple query table to display the data to screen, more for testing purposes*@

<!--<h1>Weapons Table</h1>

<div class="col-lg-10">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Damage</th>
                <th>Damage Type</th>
                <th>Weapon Category</th>
                <th>Weapon Range</th>
                <th>Cost</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var weapon in Model)
            {
                <tr>
                    <td>
                        @weapon.Name
                    </td>
                    <td>
                        @weapon.Damage
                    </td>
                    <td>
                        @weapon.DamageType
                    </td>
                    <td>
                        @weapon.WeaponCategory
                    </td>
                    <td>
                        @weapon.WeaponRange
                    </td>
                    <td>
                        @weapon.Cost
                    </td>
                    <td>
                        @weapon.weight lbs
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>-->

@{ ViewBag.Title = "Weapons";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Weapons</h2>
<table id="weapons" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Weapons</th>
            <th>Damage</th>
            <th>Weapons Category</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


@section scripts
{
    <script>$(document).ready(function () {
            var table = $("#weapons").DataTable({
                ajax: {
                    url: "/api/weapons",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "damageType"
                    },
                    {
                        data: "weaponCategory",
                    }
                ]
            });
        });</script>
}
