@model DnD___Campaign_Dashboard_v._1.Models.MonsterModelsApi.MonsterModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.name)</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.armor_class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.armor_class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hit_points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hit_points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hit_dice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hit_dice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd></dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed.Walk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed.Walk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed.Swim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed.Swim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dexterity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Constitution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intelligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wisdom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Charisma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proficiencies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proficiencies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.damage_vulnerabilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.damage_vulnerabilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.damage_resistances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.damage_resistances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.damage_immunities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.damage_immunities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condition_immunities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condition_immunities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senses)
        </dt>

        <dd></dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senses.Darkvision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senses.Darkvision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Senses.passive_perception)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Senses.passive_perception)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Languages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Languages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.challenge_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.challenge_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Xp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Xp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.special_abilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.special_abilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.legendary_actions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.legendary_actions)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
