@model DnD___Campaign_Dashboard_v._1.Models.Character

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Sheet</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="~/Content/styleCS.css" rel="stylesheet" />

</head>
<body>
    @Html.ValidationMessage("Error")

    @Html.ValidationSummary(true, "Please fix the following errors", new { @class = "text-danger" })
    @using (Html.BeginForm("Create", "CharacterSheet", FormMethod.Post, new { @class = "charsheet" }))
    {
        @Html.AntiForgeryToken()

        <!-- partial:index.partial.html -->
        <form class="charsheet">
            <header>
                <section class="charname">
                    <label for="charname">Character Name</label><input name="charname" placeholder="Ven Tyvon" />
                    @Html.ValidationMessageFor(model => model.charname, "", new { @class = "text-danger" })
                </section>
                <section class="charname">
                    <label for="Campaign_Id">Campaign Id</label><input name="Campaign_Id" placeholder="1234" />
                    @Html.ValidationMessageFor(model => model.Campaign_Id, "", new { @class = "text-danger" })
                </section>
                <section class="misc">
                    <ul>
                        <li>
                            <label for="classlevel">Class & Level</label><input name="classlevel" placeholder="Artificer 7" />
                        </li>
                        <li>
                            <label for="background">Background</label><input name="background" placeholder="Guild Artisan" />
                        </li>
                        <li>
                            <label for="playername">Player Name</label><input name="playername" placeholder="Dakoda Richardson">
                        </li>
                        <li>
                            <label for="race">Race</label><input name="race" placeholder="Tiefling" />
                        </li>
                        <li>
                            <label for="alignment">Alignment</label><input name="alignment" placeholder="Chaotic Neutral" />
                        </li>
                        <li>
                            <label for="experiencepoints">Experience Points</label><input name="experiencepoints" placeholder="1337" />
                        </li>
                    </ul>
                </section>
            </header>
            <main>
                <section>
                    <section class="attributes">
                        <div class="scores">
                            <ul>
                                <li>
                                    <div class="score">
                                        <label for="Strengthscore">Strength</label><input name="Strengthscore" placeholder="10" class="stat" />
                                    </div>
                                    <div class="modifier">
                                        <input name="Strengthmod" placeholder="+0" class="statmod" />
                                    </div>
                                </li>
                                <li>
                                    <div class="score">
                                        <label for="Dexterityscore">Dexterity</label><input name="Dexterityscore" placeholder="10" class="stat" />
                                    </div>
                                    <div class="modifier">
                                        <input name="Dexteritymod" placeholder="+0" class=statmod />
                                    </div>
                                </li>
                                <li>
                                    <div class="score">
                                        <label for="Constitutionscore">Constitution</label><input name="Constitutionscore" placeholder="10" class="stat" />
                                    </div>
                                    <div class="modifier">
                                        <input name="Constitutionmod" placeholder="+0" class="statmod" />
                                    </div>
                                </li>
                                <li>
                                    <div class="score">
                                        <label for="Wisdomscore">Wisdom</label><input name="Wisdomscore" placeholder="10" class="stat" />
                                    </div>
                                    <div class="modifier">
                                        <input name="Wisdommod" placeholder="+0" />
                                    </div>
                                </li>
                                <li>
                                    <div class="score">
                                        <label for="Intelligencescore">Intelligence</label><input name="Intelligencescore" placeholder="10" class="stat" />
                                    </div>
                                    <div class="modifier">
                                        <input name="Intelligencemod" placeholder="+0" class="statmod" />
                                    </div>
                                </li>
                                <li>
                                    <div class="score">
                                        <label for="Charismascore">Charisma</label><input name="Charismascore" placeholder="10" class="stat" />
                                    </div>
                                    <div class="modifier">
                                        <input name="Charismamod" placeholder="+0" class="statmod" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="attr-applications">
                            <div class="inspiration box">
                                <div class="label-container">
                                    <label for="inspiration">Inspiration</label>
                                </div>
                                <input name="inspiration" type="checkbox" />
                            </div>
                            <div class="proficiencybonus box">
                                <div class="label-container">
                                    <label for="proficiencybonus">Proficiency Bonus</label>
                                </div>
                                <input name="proficiencybonus" placeholder="+2" />
                            </div>
                            <div class="saves list-section box">
                                <ul>
                                    <li>
                                        <label for="Strength_save">Strength</label><input name="Strength_save" placeholder="+0" type="text" /><input name="Strength_save_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Dexterity_save">Dexterity</label><input name="Dexterity_save" placeholder="+0" type="text" /><input name="Dexterity_save_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Constitution_save">Constitution</label><input name="Constitution_save" placeholder="+0" type="text" /><input name="Constitution_save_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Wisdom_save">Wisdom</label><input name="Wisdom_save" placeholder="+0" type="text" /><input name="Wisdom_save_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Intelligence_save">Intelligence</label><input name="Intelligence_save" placeholder="+0" type="text" /><input name="Intelligence_save_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Charisma_save">Charisma</label><input name="Charisma_save" placeholder="+0" type="text" /><input name="Charisma_save_prof" type="checkbox" />
                                    </li>
                                </ul>
                                <div class="label">
                                    Saving Throws
                                </div>
                            </div>
                            <div class="skills list-section box">
                                <ul>
                                    <li @*data-toggle="tooltip" title="Description" data-placement="right"*@>
                                        <label for="Acrobatics">Acrobatics <span class="skill">(Dex)</span></label><input name="Acrobatics_skill" placeholder="+0" type="text" /><input name="Acrobatics_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Animal Handling">Animal Handling <span class="skill">(Wis)</span></label><input name="AnimalHandling_skill" placeholder="+0" type="text" /><input name="Animal Handling_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Arcana">Arcana <span class="skill">(Int)</span></label><input name="Arcana_skill" placeholder="+0" type="text" /><input name="Arcana_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Athletics">Athletics <span class="skill">(Str)</span></label><input name="Athletics_skill" placeholder="+0" type="text" /><input name="Athletics_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Deception">Deception <span class="skill">(Cha)</span></label><input name="Deception_skill" placeholder="+0" type="text" /><input name="Deception_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="History">History <span class="skill">(Int)</span></label><input name="History_skill" placeholder="+0" type="text" /><input name="History_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Insight">Insight <span class="skill">(Wis)</span></label><input name="Insight_skill" placeholder="+0" type="text" /><input name="Insight_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Intimidation">Intimidation <span class="skill">(Cha)</span></label><input name="Intimidation_skill" placeholder="+0" type="text" /><input name="Intimidation_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Investigation">Investigation <span class="skill">(Int)</span></label><input name="Investigation_skill" placeholder="+0" type="text" /><input name="Investigation_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Medicine">Medicine <span class="skill">(Wis)</span></label><input name="Medicine_skill" placeholder="+0" type="text" /><input name="Medicine_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Nature">Nature <span class="skill">(Int)</span></label><input name="Nature_skill" placeholder="+0" type="text" /><input name="Nature_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Perception">Perception <span class="skill">(Wis)</span></label><input name="Perception_skill" placeholder="+0" type="text" /><input name="Perception_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Performance">Performance <span class="skill">(Cha)</span></label><input name="Performance_skill" placeholder="+0" type="text" /><input name="Performance_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Persuasion">Persuasion <span class="skill">(Cha)</span></label><input name="Persuasion_skill" placeholder="+0" type="text" /><input name="Persuasion_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Religion">Religion <span class="skill">(Int)</span></label><input name="Religion_skill" placeholder="+0" type="text" /><input name="Religion_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Sleight of Hand">Sleight of Hand <span class="skill">(Dex)</span></label><input name="SleightofHand_skill" placeholder="+0" type="text" /><input name="Sleight of Hand_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Stealth">Stealth <span class="skill">(Dex)</span></label><input name="Stealth_skill" placeholder="+0" type="text" /><input name="Stealth_prof" type="checkbox" />
                                    </li>
                                    <li>
                                        <label for="Survival">Survival <span class="skill">(Wis)</span></label><input name="Survival_skill" placeholder="+0" type="text" /><input name="Survival_prof" type="checkbox" />
                                    </li>
                                </ul>
                                <div class="label">
                                    Skills
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="passive-perception box">
                        <div class="label-container">
                            <label for="passiveperception">Passive Wisdom (Perception)</label>
                        </div>
                        <input name="passiveperception" placeholder="10" />
                    </div>
                    <div class="otherprofs box textblock">
                        <label for="otherprofs">Other Proficiencies and Languages</label><textarea name="otherprofs"></textarea>
                    </div>
                </section>
                <section>
                    <section class="combat">
                        <div class="armorclass">
                            <div>
                                <label for="ac">Armor Class</label><input name="ac" placeholder="10" type="text" />
                            </div>
                        </div>
                        <div class="initiative">
                            <div>
                                <label for="initiative">Initiative</label><input name="initiative" placeholder="+0" type="text" />
                            </div>
                        </div>
                        <div class="speed">
                            <div>
                                <label for="speed">Speed</label><input name="speed" placeholder="30" type="text" />
                            </div>
                        </div>
                        <div class="hp">
                            <div class="regular">
                                <div class="max">
                                    <label for="maxhp">Hit Point Maximum</label><input name="maxhp" placeholder="10" type="text" />
                                </div>
                                <div class="current">
                                    <label for="currenthp">Current Hit Points</label><input name="currenthp" type="text" />
                                </div>
                            </div>
                            <div class="temporary">
                                <label for="temphp">Temporary Hit Points</label><input name="temphp" type="text" />
                            </div>
                        </div>
                        <div class="hitdice">
                            <div>
                                <div class="total">
                                    <label onclick="totalhd_clicked()" for="totalhd">Total</label><input name="totalhd" placeholder="2d10" type="text" />
                                </div>
                                <div class="remaining">
                                    <label for="remaininghd">Hit Dice</label><input name="remaininghd" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="deathsaves">
                            <div>
                                <div class="label">
                                    <label>Death Saves</label>
                                </div>
                                <div class="marks">
                                    <div class="deathsuccesses">
                                        <label>Successes</label>
                                        <div class="bubbles">
                                            <input name="deathsuccess1" type="checkbox" />
                                            <input name="deathsuccess2" type="checkbox" />
                                            <input name="deathsuccess3" type="checkbox" />
                                        </div>
                                    </div>
                                    <div class="deathfails">
                                        <label>Failures</label>
                                        <div class="bubbles">
                                            <input name="deathfail1" type="checkbox" />
                                            <input name="deathfail2" type="checkbox" />
                                            <input name="deathfail3" type="checkbox" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="attacksandspellcasting">
                        <div>
                            <label>Attacks & Spellcasting</label>
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Atk Bonus
                                        </th>
                                        <th>
                                            Damage/Type
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input name="atkname1" type="text" />
                                        </td>
                                        <td>
                                            <input name="atkbonus1" type="text" />
                                        </td>
                                        <td>
                                            <input name="atkdamage1" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input name="atkname2" type="text" />
                                        </td>
                                        <td>
                                            <input name="atkbonus2" type="text" />
                                        </td>
                                        <td>
                                            <input name="atkdamage2" type="text" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input name="atkname3" type="text" />
                                        </td>
                                        <td>
                                            <input name="atkbonus3" type="text" />
                                        </td>
                                        <td>
                                            <input name="atkdamage3" type="text" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <textarea></textarea>
                        </div>
                    </section>
                    <section class="equipment">
                        <div>
                            <label>Equipment</label>
                            <div class="money">
                                <ul>
                                    <li>
                                        <label for="cp">cp</label><input name="cp" />
                                    </li>
                                    <li>
                                        <label for="sp">sp</label><input name="sp" />
                                    </li>
                                    <li>
                                        <label for="ep">ep</label><input name="ep" />
                                    </li>
                                    <li>
                                        <label for="gp">gp</label><input name="gp" />
                                    </li>
                                    <li>
                                        <label for="pp">pp</label><input name="pp" />
                                    </li>
                                </ul>
                            </div>
                            <textarea placeholder="Equipment list here"></textarea>
                        </div>
                    </section>
                </section>
                <section>
                    <section class="flavor">
                        <div class="personality">
                            <label for="personality">Personality</label><textarea name="personality"></textarea>
                        </div>
                        <div class="ideals">
                            <label for="ideals">Ideals</label><textarea name="ideals"></textarea>
                        </div>
                        <div class="bonds">
                            <label for="bonds">Bonds</label><textarea name="bonds"></textarea>
                        </div>
                        <div class="flaws">
                            <label for="flaws">Flaws</label><textarea name="flaws"></textarea>
                        </div>
                    </section>
                    <section class="features">
                        <div>
                            <label for="features">Features & Traits</label><textarea name="features"></textarea>
                        </div>
                    </section>
                </section>
            </main>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    }
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="~/Scripts/scriptCS.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@
</body>
</html>


<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

