@model DnD___Campaign_Dashboard_v._1.Models.InvitationModel
@using Microsoft.AspNet.Identity;



@using (Html.BeginForm("SendEmailAsync", "Invitation", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-0">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })                 
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(m => m.Campaign_Id)
            @Html.HiddenFor(m => m.UserId)
        </div>

        <div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Invite" class="btn btn-default" id="invBtn" placeholder="Insert a valid email address.."/>
                <script>
                    $("#invBtn").click(function () {
                        alert("Invitation has been sent!");
                    });
                </script>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


