@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styles.css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body >

    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href='@Url.Action("Index", "Home", "Landing Page")' target="_self"><img src="~/Images/Icon awesome-dice-d20.png" /></a></li>
            </ul>
            @if (Request.IsAuthenticated)
            {
                <ul>
                    <li>@Html.ActionLink("Character Sheet", "Index", "CharacterSheet")</li>
                    <li>@Html.ActionLink("Dice Roller", "Index", "DiceRoller")</li>
                    <li>@Html.ActionLink("Encounters", "Index", "Encounter")</li>
                    <li>@Html.ActionLink("Monsters", "Index", "Monsters")</li>
                    <li>@Html.ActionLink("Spells", "Index", "Spells")</li>
                    <li>@Html.ActionLink("Magic Items", "Index", "MagicItems")</li>
                    <li>@Html.ActionLink("Weapons", "Index", "Weapons")</li>
                    <li>@Html.ActionLink("Armour", "Index", "Armour")</li>
                    <li>@Html.ActionLink("Adventuring Gear", "Index", "AdventuringGear")</li>
                </ul>
            }
            <strong>@Html.Partial("_LoginPartial")</strong>

            <div class="social_media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>



        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


        <div class="main_content">
            <div class="body-content" style="padding: 20px" > @RenderBody() </div>
            <div class="navbar-fixed-bottom" style="padding-left: 210px" >
                <footer>
                    <p>&copy; @DateTime.Now.Year - DND Management Systems</p>
                </footer>
            </div>
        </div>

    </div>
</body>
</html>
