@model DnD___Campaign_Dashboard_v._1.Models.SpellModelsApi.SpellInfoModel
@using DnD___Campaign_Dashboard_v._1.Models.SpellModelsApi
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.name)</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal row">

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc)
        </dd>

        @if (Model.higher_level != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.higher_level)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.higher_level)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.Range)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Range)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Components)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Components[0])
        </dd>

        <dt></dt>

        <dd>
            @Html.DisplayFor(model => model.Components[1])
        </dd>
        @if (Model.Material != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Material)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Material)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Ritual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ritual)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.casting_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.casting_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        @*@if (Model.higher_level != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.attack_type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.attack_type)
                </dd>
            }*@

        <dt>
            @Html.DisplayNameFor(model => model.damage.damage_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.damage.damage_type.name)
        </dd>

        @*@if (Model.higher_level != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level)
                </dt>

                <dd></dd>

                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level._2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.damage.damage_at_slot_level._2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level._3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.damage.damage_at_slot_level._3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level._4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.damage.damage_at_slot_level._4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level._5)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.damage.damage_at_slot_level._5)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level._6)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.damage.damage_at_slot_level._6)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level._7)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.damage.damage_at_slot_level._7)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level._8)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.damage.damage_at_slot_level._8)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.damage.damage_at_slot_level._9)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.damage.damage_at_slot_level._9)
                </dd>
            }*@
        <dt>
            @Html.DisplayNameFor(model => model.school)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.school.name)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.classes)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.classes)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.subclasses)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subclasses)
            </dd>*@

    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>